[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pymc3 = "*"
seaborn = "*"
scikit-learn = "*"
pretty-html-table = "*"

[dev-packages]
black = "*"
ipykernel = "*"

[requires]
python_version = "3.8"
